<h1> Home </h1>
<p>This is the {{ title }} page</p>
{{#if isAvailable}}
<ul>
    {{#each rooms}}
         <li> <a href={{this.name}}> {{this.name}}  </a></li>
    {{/each}}
</ul>
{{/if}}

<form action="/create" method="POST">
<input type="text" name="roomName" placeholder="enter room name"/>
<input type="submit" value="create room" onclick="window.location.reload()"/> 
</form>

<script>
    let interval = setInterval(renderRooms, 1000);

    function renderRooms() {
    fetch("http://localhost:8080/getRoom")
        .then(res => res.json())
        .then(data => {
            console.log(data);
            
            let list = document.getElementsByTagName('ul')[0];
            list.innerHTML = "";
            
            data.map(i => {
                console.log(i.name);
                let newItem = document.createElement('li');
                newItem.innerHTML = `<a href=${i.name}> ${i.name}  </a>`;
                list.appendChild(newItem);
            })

            // refresh(data);
        })
        .catch(err => {
            console.log(err);
        })
    }

    // function refresh(room) {
       // document.getElementsByTagName('ul')[0].innerHTML = "";

        // for (var i = 0; i < room.length; ++i) {
            // console.log(room[i].name);
           // console.log(document.getElementsByTagName('ul')[0]);
        //}

        // document.getElementsByTagName('ul')[0].innerHTML += "{{#each rooms}}";

        // for (var i = 0; i < room.length; ++i) {
            // console.log(room[i].name);
           // console.log(document.getElementsByTagName('ul')[0]);
           // document.getElementsByTagName('ul')[0].innerHTML +=
        // }
        // document.getElementsByTagName('ul')[0].innerHTML += "{{/each}}";
    }
    
</script>
